version: '3'
services:
  nginx:
    container_name: nginx
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf:/etc/nginx/conf.d
      - ./data:/var/www/html
    depends_on:
      - php
  mysql:
    container_name: mysql
    image: mysql:5.7.21
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - db-data:/var/lib/mysql
  php:
    container_name: php
    build: ./php
    volumes:
      - ./data:/var/www/html
    depends_on:
      - mysql
volumes:
  db-data: